<div>
  <p>
    If you're wondering why this site is so basic, that's because it's only just
    beginning. It's an experiment. An adventure. A classroom and a playground
    all rolled into a single repository.
  </p>

  <p>
    One day, this site will not only be fully functional, you will be able to
    render it using three different frameworks (or specific lack thereof), and
    three different design systems:
  </p>

  <ul>
    <li>React + Material UI</li>
    <li>Angular + Clarity</li>
    <li>Vanilla JS + Carbon</li>
  </ul>

  <p>
    But first, it must grow from the very basics. It started with a single HTML
    template, and a single Javascript file. You can read more about that in
    <a href="https://link.medium.com/uFHAN7yosdb">this article on Medium</a>. It
    will evolve, step-by-step, and each step will be explored and documented.
    You can follow the journey on
    <a href="https://simon-lutterbie.medium.com/">Medium</a> or
    <a href="https://github.com/sjlutterbie/parallel-frameworks-website"
      >Github</a
    >.
  </p>
</div>
